@font-face {
  font-family: 'KiteOne';
  src: url('KiteOne-Regular.ttf') format('truetype');
}

body {
  font-family: 'KiteOne', sans-serif;
}

::selection {
  background-color: #fff;
  color: #18ba9a;
}